@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family : "moonspace";
  src : url("../assets/fonts/Moonscape.otf") format("opentype");
}

@theme {
  --font-primary : "Lora", serif;
  --font-heading : "moonspace" ,serif;
  --font-roboto : "Roboto", sans-serif;
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
