---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css"
---

<Layout>
  <section class="mt-12 md:mt-20 mb-20 space-y-8 md:space-y-18">
    <div class="container mx-auto px-4 md:px-0 text-center">
      <h1 class="font-primary text-4xl md:text-6xl text-center mb-4">About <span class="italic text-[#8A5633]">FLORAVELLE</span></h1>
      <p class="text-lg md:text-xl font-primary font-thin text-[#A39579] tracking-widest uppercase">Elegance in Every Drop</p>
    </div>

    <div class="container mx-auto mt-12 md:mt-18 px-4 md:px-0">
      <div class="bg-[#E8E4DE] p-8 md:p-14 lg:p-20 shadow-sm flex flex-col gap-8 md:gap-12 items-center text-center">
        
        <p class="font-primary text-xl md:text-2xl lg:text-3xl text-justify md:text-center leading-relaxed md:leading-high text-gray-800 max-w-4xl">
          <span class="font-semibold">FLORAVELLE</span> is a modern perfume brand based in Pakistan, created for those who appreciate elegance, confidence, and lasting impressions.
        </p>
        
        <p class="font-primary text-lg md:text-xl lg:text-2xl text-justify md:text-center leading-relaxed text-gray-700 max-w-4xl">
          Our fragrances are crafted with carefully selected notes to deliver a luxurious and long lasting scent experience that feels sophisticated and premium.
        </p>
        
        <div class="bg-[linear-gradient(90deg,rgba(255,255,255,0)_0%,rgba(196,176,124,1)_40%,rgba(208,192,150,1)_72%,rgba(255,255,255,0)_100%)] h-[2px] w-full max-w-2xl mx-auto my-4"></div>
        
        <div class="font-primary text-xl md:text-2xl lg:text-3xl space-y-4">
          <p class="italic text-[#8A5633]">
            "At FLORAVELLE, we believe a fragrance should become part of your identity <br class="hidden md:block" /> — subtle, memorable, and timeless."
          </p>
          <p class="text-[#A39579] font-medium tracking-wide pt-4">
            FLORAVELLE — Elegance in Every Drop
          </p>
        </div>
        
      </div>
    </div>
  </section>
</Layout>
