---
import "../styles/global.css"
import Logo from "../assets/logo.jpeg"

import {Image} from "astro:assets"
---

<header class="py-6">
  <div class="flex container mx-auto items-center justify-between font-primary ">
    <h1 class="text-4xl font-semibold">Floravelle</h1>
    <nav class="text-none text-xl text-[#090401]  flex gap-8 list-none font-semibold">
      <a class="cursor-pointer">Collection</a>
      <a class="cursor-pointer">About Us</a>
      <a class="cursor-pointer">Contact</a>
    </nav>
  </div>
</header>

