---
import "../styles/global.css"
import heroBg from "../assets/hero.png"
---

<section class="h-[89vh] bg-cover md:bg-right-top bg-center relative" style={`background-image : url(${heroBg.src})`}>
  <div class="absolute inset-0 bg-black/10 z-10"/>
  <div class="container h-full mx-auto flex flex-col justify-center z-20 px-4 md:px-0">
    <div class="font-primary space-y-4 max-w-4xl z-40">
      <p class="text-xl md:text-2xl font-primary font-thin md:px-2">LUXURY & PREMIUM</p>
      <h1 class="text-5xl md:text-8xl font-primary leading-tight">Designed for <br class="hidden md:block"/> Daily Elegence</h1>
      <p class="text-lg md:text-xl mt-4 md:mt-8 md:px-2">Elegence isn't occasional - it's woven into everyday <br class="hidden md:block"/> moments that define your pressence.</p>
      <button class="text-lg md:text-2xl border-2 font-semibold border-[#7A5633] text-[#8A5633] hover:bg-[#7A5633] hover:text-white rounded-full px-6 py-3 md:p-4 mt-8 md:mt-18 cursor-pointer">
        Find Your Signature
      </button>
    </div>
  </div>
</section>



