---
import "../styles/global.css"
import heroBg from "../assets/hero.png"
---

<section class="h-[89%] bg-cover bg-right-top relative" style={`background-image : url(${heroBg.src})`}>
  <div class="absolute inset-0 bg-black/10 z-10"/>
  <div class="container h-full mx-auto flex flex-col justify-center z-20 ">
    <div class="font-primary space-y-4 max-w-4xl z-40">
      <p class="text-2xl font-primary font-thin px-2">LUXURY & PREMIUM</p>
<h1 class="text-8xl font-primary">Designed for <br/> Daily Elegence</h1>
<p class="text-xl mt-8 px-2">Elegence isn't occasional - it's woven into everyday <br/> moments that define your pressence.</p>
      <button class="text-2xl border-2 font-semibold border-[#7A5633] text-[#8A5633] hover:bg-[#7A5633] hover:text-white rounded-full p-4 mt-18 cursor-pointer ">
        Find Your Signature
      </button>
    </div>
  </div>
</section>



